* {
	margin:0;
	padding:0;
	border:0;
}

html
{
	overflow:hidden;
}

body
{
	background-color:#2e2e2e;
	background-repeat:repeat-x;
	background-image:url("../images/backGround.jpg");
	background-position:top right;
	background-repeat:no-repeat;
}

.Clear
{
	clear:both;
}

#chatPage
{
	margin-left:auto;
	margin-right:10px;
	margin-top:110px;
	width:700px;
}

#chatPage form div.FormElement
{
	background-color:#c3cbab;
	border-style:dotted;
	border-width:10px;
	float:left;
	padding:3px;
	filter: alpha (opacity=75);
	opacity:0.75;
	border-color:#e1e5d5 #96a173 #96a173 #e1e5d5;
}

#chatPage #formElementOutput
{
	width:500px;
	height:380px;
}

#chatPage #formElementUserList
{
	width:96px;
	height:380px;
}

#chatPage #formElementInput
{
	width:500px;
}

#chatPage #formElementInput input
{
	min-height:24px;
}

#chatPage #formElementSubmit
{
	width:96px;
}

#chatPage h1
{
	font-family: Arial Black, Arial Black, Gadget, sans-serif;
	color:#FC4;
	margin-top:0px;
	font-weight:normal;
	text-shadow:0px 4px #660;
}

#chatPage .Field
{
	border-width:1px;
	border-style:dashed;
	width:497px;
	border-color:#000;
	font-weight:bold;
	filter: alpha (opacity=75);
	opacity:0.75;
	font-family: Arial, Arial, Helvetica, sans-serif;
}

#chatPage .Button
{
	border-width:4px;
	border-style:solid;
	background-color:#FFF;
	filter: alpha (opacity=100);
	border-color:#FFF #AAA #AAA #FFF;
	opacity:1.0;
}

#chatPage .TextOutput
{
	height:375px;
	font-family: Courier New, Courier New, Courier6, monospace;
	border-style:dashed;
	border-color:#000;
	border-width:1px;
	filter: alpha (opacity=75);
	opacity:0.75;
	overflow:auto;
}

#chatPage .TextOutput p
{
	margin:5px;
	margin-bottom:10px;
}

#chatPage .RecursiveSquare
{
	position:absolute;
	/*background-color:#222;*/
}

div.Menu
{
	margin-left:auto;
	margin-right:10px;
	margin-top:10px;
	width:700px;
}

div.Menu a
{
	color:#FFF;
}

div.Menu a:hover
{
	color:#CCC;
}